<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
      <style>
        /* Set the background color for the entire page */
        body {
            background-color: lightblue;
        }

          h2{
          color: blue
          }
    </style>

</head>
<body>
<!--<font style="TimesNewRoman" size="4" color="purple">-->
    <img src="/static/vitalogo.jpg" alt="logo" width="200" height="200" >
    <img src="/static/registration.jpg" alt="registration" width="400" height="200" >
    <img src="/static/student.jpg" alt="Students" width="700" height="200" >

    <h1 align ="center"><i>Welcome to Student Registration</i></h1>


    <h2>click on register</h2>
    <h4></h4>
    <h6></h6>
    <p></p>
    <a href="/register">Register</a> <!-- Link to the registration form -->
    <br>
    <a href="/students">View Registered Students</a> <!-- Link to view registered students -->
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
<!--</font>-->
</body>
</html>
